{% extends 'header.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  
</head>
<body>

    



<center>
    <h1>Change Password</h1>
    <form action="{% url 'change_password' %}" method="post"> 
         {% if msg %}
        <h4 style="color: blue;">{{msg}}</h4>
         {% endif %}
        {% csrf_token %}
        <table>
           
            <tr>
                <td>Old Password</td>
                <td><input type="password" name="old_password"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="new_password"></td>
            </tr>
            <tr>
                <td>confirm New Password</td>
                <td><input type="password" name="cnew_password"></td>
            </tr>
            <tr>
                <td colspan="" rowspan=""></td>
                <td><input type="submit" value="Login"></td>
                
            </tr>
        </table>
    </form>
</center>

  

</body>
</html>
{% endblock %}
