{% extends 'header.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>

</head>

<body>





    <center>
        <h1>Login</h1>
        <form action="{% url 'signin' %}" method="post">
            {% if msg %}
            <h4 style="color: blue;">{{msg}}</h4>
            {% endif %}
            {% csrf_token %}
            <table>

                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"></td>
                </tr>

                <td>Password</td>
                <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Login" class="btn btn-primary"></td>

                    <td><a href="{% url 'forgot_password' %}"><input type="button" value="Forgot Password"
                                class="btn btn-primary"></td>
                    </a>
                </tr>
            </table>
        </form>
    </center>



</body>

</html>
{% endblock %}