<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>working</title>
</head>

<body>

    <form action="/analyze" method="get">
        <h1>Welcome to the text analyazer.Enter your text below</h1>
        <textarea style="margin: 0px; width: 1890px; height: 188px;" name="text"></textarea>

        <input type="checkbox" name="removepunc">removepunc<br>

        <button type="submit">Analyze text</button>
    </form>


</body>

</html>