*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: right;
    justify-content: end;
    padding-right: 10px;
    background-color: rgba(41, 59, 139, 0.733);
}
.navbar h3{
    padding-left: 10px;

}